<div class = "bottem-panel">
  <div class = "bottem-panel-text" style="display:flex;align-items:center;">
    <div style="display: inline-block; float: left; width: 80%;">
      <p style="font-family: 'Courier New', Courier, monospace;"><b><span id="busuanzi_container_site_pv"></span>This website has been accessed <span id="busuanzi_value_site_pv" style="color: blue;"></span> times.</span></b></p>
      <div>
        <p style="width: 75%;">If you find any problems, please feel free to contact me by send me e-mail or submit issue at my github repo.</p>
        <p>e-mail address: <a href="mailto: {{site.author.email}}?subject=feedback for blog.hanshu.org">{{site.author.email}}</a></p>
        <p>github repo: <a href="https://github.com/hannshu/blogs">link</a></p>
      </div>
      <div style="margin-top: 5px;">
        <p>relative links:</p>
        <div class = "bottem-link">
          <ul>
            <li style="margin: 0px;"><a href="https://hanshu.org">hanshu.org</a></li>
          </ul>
        </div>
      </div>
      <div style="margin-top: 5px;", class="copyright">
        <p>© 2022 Han Shu</p>
      </div>
    </div>
    <div style="display: inline-block; float: right; width: 20%;">
      <img decoding="async" style="height: auto;" title="logo" src="{{site.svg_link}}">
    </div>
</div>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
