---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name"><b>By Han Shu</b></span></span><br>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Created data: {{ page.date | date: date_format }}
      </time><br>
      {%- if page.modified_date -%}
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      {%- else -%}
        {%- assign mdate = page.date | date_to_xmlschema -%}
      {%- endif -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          Last modified date: {{ mdate | date: date_format }}
        </time>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div id="gitalk-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script src="/assets/md5.js"></script>
  {% if site.comments.gitalk %}
  <script>
    const gitalk = new Gitalk({
          clientID: '{{ site.comments.gitalk_clientID }}',
          clientSecret: '{{ site.comments.gitalk_Secret }}',
          repo: '{{ site.comments.gitalk_repo }}',
          owner: '{{ site.comments.gitalk_owner }}',
          admin: '{{ site.comments.gitalk_admin }}',
          id: hex_md5(location.pathname),      // Ensure uniqueness and length less than 50{{ page.title }}
          distractionFreeMode: false,
        })

    gitalk.render('gitalk-container')
  </script>
  {% endif %}

</article>
